{% extends "AWCoreBundle::layout.html.twig" %}

{% block title %}Réinitialiser mon mot de passe :: {{ parent() }}{% endblock %}

{% form_theme form _self %}
{% use "bootstrap_3_layout.html.twig" %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Réinitialiser mon mot de passe</h3>
      </div>
      <div class="panel-body">
        {{ form_start(form, {attr: {class: 'test'}}) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}

        <div class="row">
          <a href="{{ path('aw_user_profile') }}" class="btn btn-default">Annuler</a>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>

        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
