<div class="row">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Infos Site</h3>
      </div>
      <div class="panel-body" {% if not app.user.societe and commande.societe.customerBad == 40 %}style="color: white;background-color: black"{% endif %}>
        <div class="row">
{#          infos site  #}
          <div class="col-md-12">
            <strong>
              {% if not app.user.societe and app.user.rights.societe.lire %}
              <a href="{{ doli_url }}{{ commande.societe.linkTo }}" target="_blank">{{ commande.societe.name }} - {{ commande.societe.codeClient }}</a>
                {% if commande.commandeST is not null and commande.commandeST.prestation is not null %}
                   <span class="pull-right"> {{ commande.commandeST.prestation }}</span>
                {% endif %}
              {% else %}
                {{ commande.societe.name }}
              {% endif %}
            </strong>
            {% if commande.commandeST is not null %}
            <p>
              {% if commande.commandeST.refCommande is not null %}Réf : commande n°{{ commande.commandeST.refCommande }} {% endif %}
              {% if commande.commandeST.refCommande is not null %} | opération {{ commande.commandeST.operation }} {% endif %}
              {% if commande.commandeST.refCommande is not null %}| batiment {{ commande.commandeST.refBatiment }} {% endif %}
            </p>
            {% endif %}
          </div>

{#          FIXME a tester avec les sociétes, qui ne doivent pas afficher les bonnes coordonnées en l'état#}
          <div class="col-md-6">
            <address>
              <b>{{ commande.site }}</b><br />
              {{ commande.address1 }}<br />
              {% if commande.address2 %}{{ commande.address2 }}<br />{% endif %}
              {{ commande.zip }} {{ commande.town }}<br />
              {% if commande.societe.country %}{{ commande.societe.country.name }}{% endif %}
            </address>
          </div>
          <div class="col-md-6">
            URL : <a href="http://{{ commande.commandeST.urlInfosSite }}" target="_blank">{{ commande.commandeST.urlInfosSite }}</a>
          </div>

          <div class="col-md-8 table-responsive">
            <table class="table">
              <tr>
                <td style="border-top: none;">Validation obligatoire par le client :</td>
                <td style="border-top: none;">{% if commande.commandeST.validationObligatoireByClient %}<span class="glyphicon glyphicon-ok-circle">Oui</span>{% else %}<span class="glyphicon glyphicon-remove-circle">Non</span>{% endif %}</td>
              </tr>
              <tr>
                <td style="border-top: none;">Relevés/Plans dispos :</td>
                <td style="border-top: none;">{% if commande.commandeST.relevesPlansDispo %}<span class="glyphicon glyphicon-ok-circle">Oui</span>{% else %}<span class="glyphicon glyphicon-remove-circle">Non</span>{% endif %}</td>
            </table>
          </div>
        </div>
        {% if commande.commandeST %}
        <div class="col-md-6">
          <span>Type de batiment : {{ commande.commandeST.typeBatiment.type }}</span>
        </div>
        {% endif %}

  </div>
    </div>
</div>