{% extends "AWCoreBundle::layout.html.twig" %}

{% block title %}{{ commande.ref }} :: {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/awplans/css/plans.css') }}">
{% endblock %}


{% block content %}
    {{ form_start(form) }}
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Commande {{ commande.ref }}</h3>
      </div>
      <div class="panel-body">
          <div class="panel panel-default">
              <div class="panel-heading"><label for="poseCB">Pose OK </label> <input type="checkbox" style="visibility: hidden;" id="poseCB" /></div>
              <div class="panel-body collapse" id="pose">
                  {{ form_row(form.commande.poseur)}}
                  <input type="text" value="TODO ajouter des releves">
                  {{ form_row(form.commande.remarques) }}
              </div>

              <div class="panel-heading"><label for="anomaliesCB">Anomalies</label> <input type="checkbox" id="anomaliesCB"  style="visibility: hidden;" /></div>
              <div class="panel-body collapse" id="anomalies">
                  <div class="alert alert-danger hidden" id="aw_plansbundle_terminer_releve_alert">Merci de choisir au moins une anomalie.</div>
                  {{ form_row(form.anomalies)}}
                  {{ form_row(form.remarqueAno)}}
              </div>

              <div class="panel-heading"><label for="inaccessibleCB">Anomalie - Inaccessible</label> <input type="checkbox" id="inaccessibleCB"  style="visibility: hidden;" /></div>
              <div class="panel-body collapse" id="inaccessible">
                  {{ form_row(form.inaccessible)}}
                  {{ form_row(form.remarqueInaccessible)}}
              </div>

              <div class="panel-heading"><label>Modifications</label></div>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-md-4">
                          {{ form_row(form.commande.address1, {attr: {autocomplete: 'off', class: 'typeahead'}}) }}
                          {% if commande.address2 is not null and commande.address2 is not empty %}
                              {{ form_row(form.commande.address2) }}
                          {% endif %}
                      </div>
                      <div class="col-md-4">
                          {{ form_row(form.commande.zip) }}
                      </div>
                      <div class="col-md-4">
                          {{ form_row(form.commande.town) }}
                      </div>
                  </div>
                  <div class="col-md-4">
                      {{ form_row(form.commande.contactModification) }}
                  </div>
                  <div class="col-md-4">
                      {{ form_row(form.acces) }}
                  </div>
                  <div class="col-md-4">
                      {{ form_row(form.typeBatiment)}}
                  </div>
                  {#                  TODO ajouter l'upload de logo si besoin#}
              </div>
              {% include "AWPlansBundle:Default:plans.html.twig" %}

      <div class="row">
        <a href="{{ path('aw_plans_releves_view', {id: commande.id}) }}" class="btn btn-default">Annuler</a>
        <button id="aw_plansbundle_terminer_pose_submit" disabled="disabled" type="submit" class="btn btn-primary">Enregistrer</button>
      </div>

      </div>
    </div>
  </div>
</div>
{#    {{ form_rest(form) }}#}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('libs/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js') }}"></script>
<script>
$(function(){

    $('input:checkbox').on('change', function(event){
        //on vérifie que la cb sur laquelle on a cliqué contient bien "CB" dans son id
        if($(this).attr('id').indexOf('CB') <= -1)
            return;
        let divNameFromCheckboxName = $(this).attr('id').substring(0, $(this).attr('id').indexOf('CB'));
        var source = this;

        //on met la CB sur laquelle on vient de cliquer a vrai
        $(this).prop('checked', source.checked);
        // on active le bouton submit, c'est juste une mini protection, à revoir
        $('#aw_plansbundle_terminer_pose_submit').prop('disabled', false);

        //et on affiche le div correspondant (desolé, c'est sale mais il est tard la)
        let divToToggle = $('#' + divNameFromCheckboxName);
        divToToggle.toggleClass('in');

        if(source.checked){ // si on vient de choisir une CB, on décoche toutes les autres
            $('input:checkbox').each(function(){
                if(this != source) {
                    //on verifie que c'est bien une CB d'un panel id sur laquelle on a cliqué, elle contient "CB" dans l'id (d'autres checkbox sont présentes dans le form)
                    let idWithNoCBinside = $(this).attr('id').indexOf('CB');
                    if(idWithNoCBinside > -1)
                    {
                        $(this).prop('checked', false);
                        // on cache si besoin la div précédemment sélectionnée si elle contient la classe in
                        let otherDivs = $('#' + $(this).attr('id').substring(0, idWithNoCBinside));
                        if (otherDivs[0].classList.contains('in'))
                            otherDivs.toggleClass('in');
                    }
                }
            });
        }
    });

    $('#aw_plansbundle_terminer_pose_submit').on('click', function(){
        //si div anomalies visible, on vérifie qu'au moins une cochée
        if($('#anomalies').hasClass('in')){
            if($('#aw_plansbundle_terminer_pose_anomalies input:checkbox:checked').length < 1){
                $('#aw_plansbundle_terminer_pose_alert').toggleClass('hidden');
                return false;
            }
        }
    });

  $('#aw_plansbundle_commande_releve_note_date_date').datepicker({
    autoclose: true,
    calendarWeeks: true,
    format: 'dd-mm-yyyy',
    language: 'fr'
  })
    .on('changeDate', function(e){
      var d = e.date;
      var DoW = d.getDay();
      d.setDate(d.getDate() - (DoW + 6) % 7 + 3); // Nearest Thu
      var ms = d.valueOf(); // GMT
      d.setMonth(0);
      d.setDate(4); // Thu in Week 1
      DoW = Math.round((ms - d.valueOf()) / (7 * 864e5)) + 1;

      $('#aw_plansbundle_commande_releve_note_releveNote').val('RDV semaine '+DoW);
    })
  ;
});
</script>
{% endblock %}
