{% extends "AWCoreBundle::layout.html.twig" %}

{% block title %}Productions :: {{ parent() }}{% endblock %}

{% block stylesheets %}
{{ parent() }}

<link rel="stylesheet" href="{{ asset('bundles/awplans/css/plans.css') }}">
{% endblock %}

{% block content %}


  {{ render(controller("AWPlansBundle:SousTraitance:recapReleves")) }}

<div class="row toolbar-pf table-view-pf-toolbar" id="toolbar1">
  <div class="col-sm-12">
    <form class="toolbar-pf-actions">
      <div class="form-group col-xs-12 col-sm-4 col-md-2">
        <label for="filter-ref">N° Commande</label>
        <input type="text" class="form-control filter-col" data-filter-col-type="text" data-filter-col="ref" id="filter-ref" placeholder="Filtrer par numéro de commande...">
      </div>

      <div class="form-group col-xs-12 col-sm-4 col-md-2">
        <label for="filter-ref-client">Ref. Client</label>
        <input type="text" class="form-control filter-col" data-filter-col-type="text" data-filter-col="refClient" id="filter-ref-client" placeholder="Filtrer par référence client...">
      </div>

      <div class="form-group col-xs-12 col-sm-4 col-md-2">
        <label for="filter-client">Client</label>
        <input type="text" class="form-control filter-col" data-filter-col-type="text" data-filter-col="societe" id="filter-client" placeholder="Filtrer par client...">
      </div>

      <div class="form-group col-xs-12 col-sm-4 col-md-2">
        <label for="filter-site">Site</label>
        <input type="text" class="form-control filter-col" data-filter-col-type="text" data-filter-col="site" id="filter-site" placeholder="Filtrer par site...">
      </div>

      <div class="form-group col-xs-12 col-sm-4 col-md-2">
        <label for="filter-date">Date commande</label>
        <input type="text" class="form-control filter-col" data-filter-col-type="text" data-filter-col="date" id="filter-date" placeholder="Filtrer par date...">
      </div>

      <div class="form-group col-xs-12 col-sm-4 col-md-2">
        <label for="filter-operateur">Opérateur affecté</label>
        <input type="text" class="form-control filter-col" data-filter-col-type="text" data-filter-col="operateur" id="filter-operateur" placeholder="Filtrer par operateur...">
      </div>

      <div class="form-group col-xs-12 col-sm-4 col-md-2">
        <label for="filter-status">Statut</label>
        <select class="selectpicker form-control filter-col" data-filter-col-type="selectpicker" data-filter-col="status" id="filter-status">
          <option value="">Tous</option>
          {% for key, statusName in listStatus %}
          <option value="{{ key }}">{{ statusName }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group col-xs-12 col-sm-4 col-md-2">
        <label for="filter-production">Production</label>
        <select class="selectpicker form-control filter-col" data-filter-col-type="selectpicker" data-filter-col="production" id="filter-production">
          <option value="">Tous</option>
          <option value="1">En attente</option>
          <option value="2">En cours</option>
          <option value="3">Terminée</option>
        </select>
      </div>

      <div class="form-group col-xs-12 col-sm-4 col-md-2">
        <label for="filter-alert">Alerte</label>
        <select class="selectpicker form-control filter-col" data-filter-col-type="selectpicker" data-filter-col="alert" id="filter-alert">
          <option value="">Tous</option>
          <option value="1">Vert</option>
          <option value="2">Orange</option>
          <option value="3">Rouge</option>
        </select>
      </div>

      <div class="form-group col-xs-12 col-sm-4 col-md-2">
        <label for="filter-urgent">Urgent</label>
        <select class="selectpicker form-control filter-col" data-filter-col-type="selectpicker" data-filter-col="urgent" id="filter-urgent">
          <option value="">Tous</option>
          <option value="0">Non</option>
          <option value="1">Oui</option>
        </select>
      </div>
    </form>

    <div class="row toolbar-pf-results">
      <div class="col-sm-12">
        <button type="button" class="btn btn-default filter-col-apply">
          <span class="fa fa-filter"></span>
          Appliquer les filtres
        </button>

        <button type="button" class="btn btn-default filter-col-reset">
          <span class="pficon pficon-close"></span>
          Supprimer les filtres
        </button>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped table-bordered table-hover" id="table1">
  <thead>
    <tr>
      <th class="all">N°</th>
      <th class="min-tablet-l">Ref. Client</th>
      <th class="all">Client</th>
      <th class="min-tablet-p">Site</th>
      <th class="text-center min-tablet-l">Date</th>
      <th class="text-center min-tablet-l">Dernière mise à jour</th>
      <th class="text-center min-tablet-l">Statut</th>
      <th class="text-center min-tablet-l">Opérateur affecté</th>
      <th class="text-center min-tablet-l">Production</th>
      <th class="text-center min-tablet-p">Alerte</th>
      <th class="text-center min-tablet-p">Urgent ?</th>
    </tr>
  </thead>
</table>

<form class="content-view-pf-pagination table-view-pf-pagination clearfix" id="pagination1">
  <div class="form-group">
    <select class="selectpicker pagination-pf-pagesize">
      <option value="10">10</option>
      <option value="20" selected="selected">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
    <span class="hidden-xs">par page</span>
  </div>

  <div class="form-group">
    <span class="hidden-xs"><span class="pagination-pf-items-current">0-0</span> de <span class="pagination-pf-items-total">0</span></span>
    <ul class="pagination pagination-pf-back">
      <li class="disabled"><a href="#table1" title="Permière Page"><span class="i fa fa-angle-double-left"></span></a></li>
      <li class="disabled"><a href="#table1" title="Page Précédente"><span class="i fa fa-angle-left"></span></a></li>
    </ul>
    <label for="pagination1-page" class="sr-only">Page en cours</label>
    <input class="pagination-pf-page" type="text" value="1" id="pagination1-page"/>
    <span>sur <span class="pagination-pf-pages">1</span></span>
    <ul class="pagination pagination-pf-forward">
    <li><a href="#table1" title="Page Suivante"><span class="i fa fa-angle-right"></span></a></li>
    <li><a href="#table1" title="Dernière Page"><span class="i fa fa-angle-double-right"></span></a></li>
    </ul>
  </div>
</form>

{% endblock %}

{% block jsBeforePatternfly %}
<script src="{{ asset('libs/dataTables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('libs/dataTables/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('libs/patternfly/js/patternfly.dataTables.pfPagination.min.js') }}"></script>
<script src="{{ asset('bundles/awcore/js/dataTables.filterCol.js') }}"></script>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('libs/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('libs/patternfly-bootstrap-combobox/js/bootstrap-combobox.js') }}"></script>
<script src="{{ path('aw_plans_production_list', {_format: 'js'}) }}"></script>
{% endblock %}
