<div class="row">
  <div class="col-md-4"> <!-- infos client -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Client</h3>
      </div>
      <div class="panel-body" {% if not app.user.societe and commande.societe.customerBad == 40 %}style="color: white;background-color: black"{% endif %}>
        <address>
          <strong>
            {% if not app.user.societe and app.user.rights.societe.lire %}
            <a href="{{ doli_url }}{{ commande.societe.linkTo }}" target="_blank">{{ commande.societe.name }} - {{ commande.societe.codeClient }}</a>
            {% else %}
            {{ commande.societe.name }}
            {% endif %}
          </strong><br>
          {{ commande.societe.address1 }}<br>
          {% if commande.societe.address2 %}{{ commande.societe.address2 }}<br>{% endif %}
          {{ commande.societe.zip }} {{ commande.societe.town }}<br>
          {% if commande.societe.country %}{{ commande.societe.country.name }}{% endif %}
        </address>

        {% if commande.userContact %}
        <address>
          <strong>
            Contact :
            {% if not app.user.societe and app.user.rights.societe.lire %}
            <a href="{{ doli_url }}{{ commande.userContact.linkTo }}" target="_blank">{{ commande.userContact.firstname }} {{ commande.userContact.lastname }}</a>
            {% else %}
            {{ commande.userContact.firstname }} {{ commande.userContact.lastname }}
            {% endif %}
          </strong> - <a href="mailto:{{ commande.userContact.email }}">{{ commande.userContact.email }}</a>
        </address>
        {% endif %}

        {% if not app.user.societe and commande.societe.infosPlans and commande.societe.infosPlans.notePrivate %}
        <p>
          <strong>Note privée :<br>
          <span class="text-danger">{{ commande.societe.infosPlans.notePrivate | nl2br }}</span>
          </strong>
        </p>
        {% endif %}

        {% if not app.user.societe and commande.societe.customerBad %}
        <p>
          <strong>
            Note importante :
            {% if commande.societe.customerBad is constant('CUSTOMER_BAD_ORANGE', commande.societe) %}
              <span class="text-warning">Ce client est en Orange (non bloqué)</span>
            {% elseif commande.societe.customerBad is constant('CUSTOMER_BAD_BLUE', commande.societe) %}
              <span class="text-danger">Ce client est en Bleu (Bloqué au niveau des expéditions)</span>
            {% elseif commande.societe.customerBad is constant('CUSTOMER_BAD_PURPLE', commande.societe) %}
              <span class="text-danger">Ce client est en Violet (Bloqué au niveau des expéditions)</span>
            {% elseif commande.societe.customerBad is constant('CUSTOMER_BAD_RED', commande.societe) %}
              <span class="text-danger">Ce client est en Rouge (Bloqué au niveau des fabrications).</span>
            {% elseif commande.societe.customerBad is constant('CUSTOMER_BAD_BLACK', commande.societe) %}
              <span class="text-danger">Ce client est en Noir (Bloqué au niveau des commandes).</span>
            {% endif %}
          </strong>
        </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-4"> <!-- infos site -->
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Site</h3>
        {% if is_granted('EDIT_INTERNAL_USER', commande) %}
        <div class="btn-group pull-right">
          <a href="{{ path('aw_plans_edit', {element: 'site', id: commande.id}) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="hidden-xs">Modifier</span>
          </a>
        </div>
        {% endif %}
      </div>
      <div class="panel-body">
        <address>
          <strong>{{ commande.site }}</strong><br>
          {{ commande.address1 }}<br>
          {% if commande.address2 %}{{ commande.address2 }}<br>{% endif %}
          {{ commande.zip }} {{ commande.town }}
        </address>

        {% if commande.releve %}
        <p class="text-danger">
          <strong>Relevés de plans sur site par un technicien CONSILIUM :</strong> Oui
        </p>
        {% endif %}

        {% if commande.pose %}
        <p class="text-danger">
          <strong>Pose des plans sur site par un technicien CONSILIUM :</strong> Oui
        </p>
        {% endif %}

        {% if commande.releveNote %}
        <p class="text-danger">
          <strong>Note relevé/pose :</strong>
          {{ commande.releveNote }}
        </p>
        {% endif %}

        <p>
          <strong>Remarques :</strong><br>
          {{ commande.remarques | nl2br }}
        </p>

        {% if commande.contactBATName %}
        <p>
          <strong>Contact pour l'envoi des BATs :</strong><br>
          {{ commande.contactBATName }} - {{ commande.contactBATPhone }} - <a href="mailto:{{ commande.contactBATEmail }}">{{ commande.contactBATEmail }}</a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-4"> <!-- adresse de livraison -->
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Adresse de livraison</h3>
        {% if is_granted('EDIT', commande) %}
        <div class="btn-group pull-right">
          <a href="{{ path('aw_plans_edit', {element: 'shipping', id: commande.id}) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="hidden-xs">Modifier</span>
          </a>
        </div>
        {% endif %}
      </div>
      <div class="panel-body">
        <address>
          <strong>{{ commande.shippingRecipient }}</strong><br>
          {{ commande.shippingAddress1 }}<br>
          {% if commande.shippingAddress2 %}{{ commande.shippingAddress2 }}<br>{% endif %}
          {{ commande.shippingZip }} {{ commande.shippingTown }}<br>
          {% if commande.shippingCountry %}{{ commande.shippingCountry.name }}{% endif %}
        </address>
      </div>
    </div>
  </div>
</div>
